@using WebProgramlamaOdev.EntityLayer.Concreate;
@model List<Doktor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Doktorlar</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Resim yolu</th>
                <th>Ana bilim Dalı</th>
                <th>Sil</th>
                <th>GÜncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.DoktorId</th>
                    <td>@item.DoktorAd</td>
                    <td>@item.DoktorSoyad</td>
                    <td>@item.ImageUrl</td>
                    <td class="color-primary">@item.AnaBilimDali?.AnaBilimDaliAd</td>
                    <td><a href="/Doktorr/DeleteDoktorr/@item.DoktorId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Doktorr/UpdateDoktor/@item.DoktorId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
           
        </tbody>
    </table>
   <a href="/Doktorr/AddDoktorr/" class="btn btn-primary">Yeni Doktor Ekle</a>
</div>