@using WebProgramlamaOdev.EntityLayer.Concreate;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<AnaBilimDali>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>@localizer["Ana Bilim Dalları"]</h1>
<a asp-controller="AnaBilimDalii" asp-action="Index" asp-route-culture="en" class="btn mb-1 btn-rounded btn-outline-info">English</a>
<a asp-controller="AnaBilimDalii" asp-action="Index" asp-route-culture="tr" class="btn mb-1 btn-rounded btn-outline-info">Türkçe</a>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>@localizer["Ad"]</th>
                
                <th>@localizer["Sil"]</th>
                <th>@localizer["Güncelle"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.AnaBilimDaliId</th>
                    <td>@item.AnaBilimDaliAd</td>

                    <td><a href="/AnaBilimDalii/DeleteAnaBilimDali/@item.AnaBilimDaliId" class="btn btn-danger">@localizer["Sil"]</a></td>
                    <td><a href="/AnaBilimDalii/UpdateAnaBilimDali/@item.AnaBilimDaliId" class="btn btn-success">@localizer["Güncelle"]</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/AnaBilimDalii/AddAnaBilimDali/" class="btn btn-primary">@localizer["Yeni Ana Bilim Dalı Ekle"]</a>
</div>